.login-bg-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #ffffff;
  display: flex;
  align-items: center;
}
.login-img {
  position: absolute;
  left: 14.23%;
  right: 52.91%;
  top: 33.62%;
  bottom: 32.32%;
}
.login-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 50%px;
}

.login-logo-img {
  left: 71.2%;
  right: 25.09%;
  top: 33.5%;
  bottom: 63.57%;
  width: 80px;
  margin-left: 180px;
}

.login-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #262626;
  margin-bottom: 5px;
  margin-top: 5px;
}
.login-input {
  height: 40px;
  left: 0%;
  right: 0%;
  top: 24px;
  background: #eeeeee;
  border-radius: 5px;
  margin-bottom: 25px;
  border: none;
  padding: 5px;
}

.login-container {
  position: absolute;
  left: 57.22%;
  right: 11.11%;
  top: 27.64%;
  bottom: 27.64%;
  background: #fefeff;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  border-radius: 8px;
}

.login-button {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #4094ef;
  border-radius: 8px;
  font-size: 14px;
  margin: 10px 0px;
  padding: 8px;
  border: none;
  color: #ffffff;
}

.err-msg{
    color:red;
    font-size:14px;
    font-family:'roboto';
}